@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bank Test</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <!-- Add custom CSS here -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

</head>
<body>

    <!-- Side Menu -->
    @Html.Partial("~/Views/Home/PartialNav.cshtml")
    <!-- /Side Menu -->
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text parallax">
            <h1 class="header-text">Math Exam Archive</h1>
            <h3 class="header-text">
                <em class="header-text">So we are here to guide you</em>
            </h3><br />
            <a href="#about" class="btn header-btn">Find Out More</a>
            <br />
            <a href="#about"><img src="~/Content/img/direction.png" class="space" alt="Direction"></a>
        </div>
    </div>
    <!-- /Full Page Image Header Area -->
    <!-- Intro -->
    <div id="about">
        <div class="light-wrapper">
            <div class="container inner">
                <div class="row">
                    <div class="text-center">
                        <h2 class="main-title">About our company</h2>
                        <hr>
                    </div>
                    <div class="divide50"></div>
                    <div class="col-sm-4">
                        <figure><img src="~/Content/img/Picture1.png" alt="" style="width: 100%;"></figure>
                    </div>
                    <div class="col-sm-8">
                        <h4>Introduce</h4>
                        <p>In 2017, for the first time, the National High School exam, Mathematics was applied by the Ministry of Education and Training. This sudden change has made many teachers and most students feel surprised and confused. Teachers are also not sure how to teach appropriately, students do not have the official materials, curriculum or a great playing field for them to trust to test themselves before the official exam.</p>
                        <p>Recognizing the shift of current teaching trend, Tinh Hoa Educational and Book Technology Company with over 10 years of experience in the field of education and publishing books has collaborated with more than 200 experts. Currently leading in high school education, organizing more than 100,000 online multiple choice questions to ensure access to the latest exam structure of the Ministry of Education & Training. In addition, we pay special attention to the richness of the content as well as to diversify the way in which to bring both students and teachers an effective tool in formal teaching and learning. multiple-choice.</p>
                    </div>
                </div>
                <div class="divide50"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Our Journeys</h4><hr>
                        <p>We provide math tests for classes and the school level.</p>
                        <div class="divide5"></div>
                        <ul class="progress-list">
                            <li>
                                <p>Primary School <em>90%</em></p>
                                <div class="progress plain">
                                    <div class="bar" style="width: 90%;"></div>
                                </div>
                            </li>
                            <li>
                                <p>Junior High School <em>80%</em></p>
                                <div class="progress plain">
                                    <div class="bar" style="width: 80%;"></div>
                                </div>
                            </li>
                            <li>
                                <p>High School <em>85%</em></p>
                                <div class="progress plain">
                                    <div class="bar" style="width: 85%;"></div>
                                </div>
                            </li>

                        </ul>
                        <!-- /.progress-list -->
                    </div>
                    <!-- /.col -->

                    <div class="col-sm-6">
                        <h4>Why Choose Us?</h4><hr>
                                               <p>Why should you take the online math test? </p>
                        <div class="divide10"></div>
                        <ol class="color">
                            <li>Huge multiple-choice questions, diverse forms of exam compiled by 200 experts in high school.</li>
                            <li>Questions are clearly divided into chapters, different levels of difficulty, answers and detailed explanations.</li>
                            <li>The content closely follows the exam structure of the Ministry of Education and Training in 2018, which is updated continuously every day.</li>
                            <li>Online test anytime, anywhere, easy to operate, compatible on many different devices.</li>
                        </ol>
                    </div>
                    <!-- /.col -->


                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /.light-wrapper -->
    </div>
    <!-- /Intro -->
   
    <!-- Callout -->
    <div class="callout">
        <div class="vert-text">
            <h1 class="main-title parallax2">Your Test Guide</h1>
        </div>
    </div>
    <!-- /Callout -->
    <!-- Portfolio -->
    <div id="places" class="places">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2 class="main-title">Our test math</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="divide50"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="grid center-block">
                        <figure class="effect-zoe">
                            <img src="~/Content/img/class12.png" alt="paris" class="img-responsive center-block">
                            <figcaption>
                                <h2>Class 12</h2>
                                <p class="icon-links">
                                    <a href="#"><i class="fa fa-heart-o"></i></a>
                                    <a href="#"><i class="fa fa-eye"></i></a>
                                    <a href="#"><i class="fa fa-bookmark-o"></i></a>
                                </p>
                                <p class="description">
                                    Practice test with 12th grade questions.
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="grid center-block">
                        <figure class="effect-zoe">
                            <img src="~/Content/img/class6.png" alt="sydney" class="img-responsive center-block">
                            <figcaption>
                                <h2>Class 6</h2>
                                <p class="icon-links">
                                    <a href="#"><i class="fa fa-heart-o"></i></a>
                                    <a href="#"><i class="fa fa-eye"></i></a>
                                    <a href="#"><i class="fa fa-bookmark-o"></i></a>
                                </p>
                                <p class="description">
                                    Practice test with 6th grade questions.
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="grid center-block">
                        <figure class="effect-zoe">
                            <img src="~/Content/img/class10.png" alt="washington" class="img-responsive center-block">
                            <figcaption>
                                <h2>Class 10</h2>
                                <p class="icon-links">
                                    <a href="#"><i class="fa fa-heart-o"></i></a>
                                    <a href="#"><i class="fa fa-eye"></i></a>
                                    <a href="#"><i class="fa fa-bookmark-o"></i></a>
                                </p>
                                <p class="description">
                                    Practice test with 10th grade questions.
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="grid center-block">
                        <figure class="effect-zoe">
                            <img src="~/Content/img/class.png" alt="london" class="img-responsive center-block">
                            <figcaption>
                                <h2>Class 1</h2>
                                <p class="icon-links">
                                    <a href="#"><i class="fa fa-heart-o"></i></a>
                                    <a href="#"><i class="fa fa-eye"></i></a>
                                    <a href="#"><i class="fa fa-bookmark-o"></i></a>
                                </p>
                                <p class="description">
                                    Practice test with 1th grade questions.
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Portfolio -->
    <!-- Call to Action -->
    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3>We offer online exams</h3>
                    <a href="@Url.Action("Index","AllTest")" class="btn booking-btn text-center">Click for Exam !</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Call to Action -->
    <!-- Contact Section -->
    @Html.Partial("PartialContect")
    <!-- End Contact Section -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <ul class="list-inline">
                        <li>
                            <i class="fab fa-facebook"></i>
                        </li>
                        <li>
                            <i class="fab fa-twitter"></i>
                        </li>
                        <li>
                            <i class="fab fa-dribbble"></i>
                        </li>
                        <li>
                            <i class="fab fa-pinterest"></i>
                        </li>
                    </ul>
                    <hr>
                    <p>Copyright &copy; <a href="#">Bank for Math exam</a>  2018</p>
                    <div class="top-scroll">
                        <a href="#top"><i class="fa fa-arrow-circle-up scroll"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->
    <!-- JavaScript -->
    <script src="~/Content/js/jquery-1.10.2.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Content/js/jquery.parallax-1.1.3.js"></script>
    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    
</body>
</html>