<style>
    label.error {
        color:red;
    }
</style>
<div id="contact" class="container parallax">
    <div class="col-md-4 col-md-offset-4 text-center">
        <h2 class="main-title">Contact us</h2>
        <hr>
        <div class="divide50"></div>
    </div>
    <!-- Contact Inner -->
    <div class="inner contact">
        <!-- Form Area -->
        <div class="contact-form">
            <!-- Form -->
            <form id="contact-us">
                <!-- Left Inputs -->
                <div class="col-xs-6 col-xs-12 animated" data-animation="fadeInLeft" data-animation-delay="300">
                    <!-- Name -->
                    <input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />
                    <!-- Email -->
                    <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
                    <!-- Subject -->
                    <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Subject" />
                </div><!-- End Left Inputs -->
                <!-- Right Inputs -->
                <div class="col-xs-6 col-xs-12 animated" data-animation="fadeInRight" data-animation-delay="400">
                    <!-- Message -->
                    <textarea name="message" id="message" required class="form textarea" placeholder="Message"></textarea>
                </div><!-- End Right Inputs -->
                <!-- Bottom Submit -->
                <div class="relative fullwidth col-xs-12">
                    <!-- Send Button -->
                    <button type="button" id="submit" name="submit" class="form-btn semibold">Send Message</button>
                </div><!-- End Bottom Submit -->
                <!-- Clear -->
                <div class="clear"></div>
            </form>
            <!-- Your Mail Message -->
            <div class="mail-message-area">
                <!-- Message -->
                <div class="alert gray-bg mail-message not-visible-message">
                    <strong>Thank You !</strong> Your email has been delivered.
                </div>
            </div>
        </div><!-- End Contact Form Area -->
    </div><!-- End Inner -->
</div><!-- End Contact Section -->

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    var form = $("#contact-us");
    //form.validate();
    $("#submit").click(function () {
        if (form.valid()) {
            const obj = {
                Name: $("#name").val(),
                Email: $("#mail").val(),
                Titles: $("#subject").val(),
                Mess: $("#message").val(),
                Seen: false
            };
            $.ajax({
                type: "POST", url: "/Home/Add",
                data: JSON.stringify(obj), dataType: "json",
                contentType: "application/json; charset=utf-8",
                cache: false, async: true, processData: true, traditional: true,
                success: function (data) {
                    if (data == true) {
                        alert("Liên hệ của bạn đã được gửi!");
                        window.location.href = "/Home/Index1";
                    } else {
                        alert("Đã xãy ra lỗi!");
                    }
                },
                error: function (xhr, textStatus) {
                    console.log(xhr + "\n" + textStatus);
                }
            });
        }
    });
    
</script>
